.VehicleCard {
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  max-width: 320px;
  width: 100%;
  border-radius: 5px;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.02);
  }

  img {
    border-radius: 5px;
  }

  &-Actions {
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

}