.VehicleCard {
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  max-width: 230px;
  width: 100%;
  border-radius: 5px;
  transition: transform 0.2s ease;
  margin-left: -20px;
  background-color: white;
  flex: 0 1 calc(30% - 90px);
  margin-bottom: 10px;
  cursor: pointer;
  position: relative;

  &:hover {
    transform: translate(-20px);
  }

  img {
    border-radius: 5px;
  }

  &-Actions {
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

}